{% extends 'base.html.twig' %}

{% block body %}
<div class="snap-container">
    {% include 'home/landing.html.twig' %}
    {% include 'home/about.html.twig' %}
    {% include 'home/projects.html.twig' %}
    {% include 'home/contact.html.twig' %}
</div>
{% endblock %}
