{% extends 'base.html.twig' %}


{% block title %}Origins Digital{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>Atropos</h1>
        <div class="atropos-container">
            tests
        </div>
    </div>

{% endblock %}
